.navbar {
    background-color: #055883;
    border-color: #055883;
	color: white;
	width: 80%;
	left: 20%;
}

#breakdown {
    color: white;
    -webkit-transition: color 2000ms linear;
    -ms-transition: color 2000ms linear;
    transition: color 1000ms linear;
}

.sick {
	position:relative;
}

.list-group-flush > li {
	color:white;
}

.side-nav{
	position: fixed;
	background-color: #33B099;
	width: 20%;
	top: 55px;
	left: 0%;
	height: calc(100% - 55px);
}

.form-control input[type=text]:focus:not([readonly]) {
border-bottom: 1px solid #f48fb1;
box-shadow: 0 1px 0 0 #f48fb1;
}

.new-patient {
	width: 80%;
	margin: auto;
}

.list-group-flush {
	
	width: 100%;
	
}

.list-group-flush > .list-group-item, li {
	color: white;
	background-color: #33B099;
	border-color: white;
	margin-left: 50px;
	margin-right: 10px;
	padding: 0px;
	padding-left: 10px;
	border-top: none;
}

